<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MaintenanceTaskMapper">
    
    <resultMap type="MaintenanceTask" id="MaintenanceTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="taskCode"    column="task_code"    />
        <result property="taskName"    column="task_name"    />
        <result property="taskType"    column="task_type"    />
        <result property="assignedTeamId"    column="assigned_team_id"    />
        <result property="assignedUserId"    column="assigned_user_id"    />
        <result property="assignerId"    column="assigner_id"    />
        <result property="description"    column="description"    />
        <result property="requirements"    column="requirements"    />
        <result property="checkItems"    column="check_items"    />
        <result property="planStartTime"    column="plan_start_time"    />
        <result property="planEndTime"    column="plan_end_time"    />
        <result property="actualStartTime"    column="actual_start_time"    />
        <result property="actualEndTime"    column="actual_end_time"    />
        <result property="status"    column="status"    />
        <result property="progress"    column="progress"    />
        <result property="workHours"    column="work_hours"    />
        <result property="actualHours"    column="actual_hours"    />
        <result property="resultDescription"    column="result_description"    />
        <result property="qualityCheck"    column="quality_check"    />
        <result property="priority"    column="priority"    />
        <result property="urgency"    column="urgency"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMaintenanceTaskVo">
        select task_id, project_id, task_code, task_name, task_type, assigned_team_id, assigned_user_id, assigner_id, description, requirements, check_items, plan_start_time, plan_end_time, actual_start_time, actual_end_time, status, progress, work_hours, actual_hours, result_description, quality_check, priority, urgency, del_flag, create_by, create_time, update_by, update_time, remark from maintenance_task
    </sql>

    <select id="selectMaintenanceTaskList" parameterType="MaintenanceTask" resultMap="MaintenanceTaskResult">
        <include refid="selectMaintenanceTaskVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="taskCode != null  and taskCode != ''"> and task_code = #{taskCode}</if>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskType != null  and taskType != ''"> and task_type = #{taskType}</if>
            <if test="assignedTeamId != null "> and assigned_team_id = #{assignedTeamId}</if>
            <if test="assignedUserId != null "> and assigned_user_id = #{assignedUserId}</if>
            <if test="assignerId != null "> and assigner_id = #{assignerId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="requirements != null  and requirements != ''"> and requirements = #{requirements}</if>
            <if test="checkItems != null  and checkItems != ''"> and check_items = #{checkItems}</if>
            <if test="planStartTime != null "> and plan_start_time = #{planStartTime}</if>
            <if test="planEndTime != null "> and plan_end_time = #{planEndTime}</if>
            <if test="actualStartTime != null "> and actual_start_time = #{actualStartTime}</if>
            <if test="actualEndTime != null "> and actual_end_time = #{actualEndTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="progress != null "> and progress = #{progress}</if>
            <if test="workHours != null "> and work_hours = #{workHours}</if>
            <if test="actualHours != null "> and actual_hours = #{actualHours}</if>
            <if test="resultDescription != null  and resultDescription != ''"> and result_description = #{resultDescription}</if>
            <if test="qualityCheck != null  and qualityCheck != ''"> and quality_check = #{qualityCheck}</if>
            <if test="priority != null  and priority != ''"> and priority = #{priority}</if>
            <if test="urgency != null  and urgency != ''"> and urgency = #{urgency}</if>
        </where>
    </select>
    
    <select id="selectMaintenanceTaskByTaskId" parameterType="Long" resultMap="MaintenanceTaskResult">
        <include refid="selectMaintenanceTaskVo"/>
        where task_id = #{taskId}
    </select>

    <insert id="insertMaintenanceTask" parameterType="MaintenanceTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into maintenance_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="taskCode != null and taskCode != ''">task_code,</if>
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="taskType != null">task_type,</if>
            <if test="assignedTeamId != null">assigned_team_id,</if>
            <if test="assignedUserId != null">assigned_user_id,</if>
            <if test="assignerId != null">assigner_id,</if>
            <if test="description != null">description,</if>
            <if test="requirements != null">requirements,</if>
            <if test="checkItems != null">check_items,</if>
            <if test="planStartTime != null">plan_start_time,</if>
            <if test="planEndTime != null">plan_end_time,</if>
            <if test="actualStartTime != null">actual_start_time,</if>
            <if test="actualEndTime != null">actual_end_time,</if>
            <if test="status != null">status,</if>
            <if test="progress != null">progress,</if>
            <if test="workHours != null">work_hours,</if>
            <if test="actualHours != null">actual_hours,</if>
            <if test="resultDescription != null">result_description,</if>
            <if test="qualityCheck != null">quality_check,</if>
            <if test="priority != null">priority,</if>
            <if test="urgency != null">urgency,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="taskCode != null and taskCode != ''">#{taskCode},</if>
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="taskType != null">#{taskType},</if>
            <if test="assignedTeamId != null">#{assignedTeamId},</if>
            <if test="assignedUserId != null">#{assignedUserId},</if>
            <if test="assignerId != null">#{assignerId},</if>
            <if test="description != null">#{description},</if>
            <if test="requirements != null">#{requirements},</if>
            <if test="checkItems != null">#{checkItems},</if>
            <if test="planStartTime != null">#{planStartTime},</if>
            <if test="planEndTime != null">#{planEndTime},</if>
            <if test="actualStartTime != null">#{actualStartTime},</if>
            <if test="actualEndTime != null">#{actualEndTime},</if>
            <if test="status != null">#{status},</if>
            <if test="progress != null">#{progress},</if>
            <if test="workHours != null">#{workHours},</if>
            <if test="actualHours != null">#{actualHours},</if>
            <if test="resultDescription != null">#{resultDescription},</if>
            <if test="qualityCheck != null">#{qualityCheck},</if>
            <if test="priority != null">#{priority},</if>
            <if test="urgency != null">#{urgency},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMaintenanceTask" parameterType="MaintenanceTask">
        update maintenance_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="taskCode != null and taskCode != ''">task_code = #{taskCode},</if>
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="taskType != null">task_type = #{taskType},</if>
            <if test="assignedTeamId != null">assigned_team_id = #{assignedTeamId},</if>
            <if test="assignedUserId != null">assigned_user_id = #{assignedUserId},</if>
            <if test="assignerId != null">assigner_id = #{assignerId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="requirements != null">requirements = #{requirements},</if>
            <if test="checkItems != null">check_items = #{checkItems},</if>
            <if test="planStartTime != null">plan_start_time = #{planStartTime},</if>
            <if test="planEndTime != null">plan_end_time = #{planEndTime},</if>
            <if test="actualStartTime != null">actual_start_time = #{actualStartTime},</if>
            <if test="actualEndTime != null">actual_end_time = #{actualEndTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="progress != null">progress = #{progress},</if>
            <if test="workHours != null">work_hours = #{workHours},</if>
            <if test="actualHours != null">actual_hours = #{actualHours},</if>
            <if test="resultDescription != null">result_description = #{resultDescription},</if>
            <if test="qualityCheck != null">quality_check = #{qualityCheck},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="urgency != null">urgency = #{urgency},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteMaintenanceTaskByTaskId" parameterType="Long">
        delete from maintenance_task where task_id = #{taskId}
    </delete>

    <delete id="deleteMaintenanceTaskByTaskIds" parameterType="String">
        delete from maintenance_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>