<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SpaceEquipmentMapper">
    
    <resultMap type="SpaceEquipment" id="SpaceEquipmentResult">
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentCode"    column="equipment_code"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="areaId"    column="area_id"    />
        <result property="model"    column="model"    />
        <result property="specification"    column="specification"    />
        <result property="manufacturer"    column="manufacturer"    />
        <result property="installDate"    column="install_date"    />
        <result property="status"    column="status"    />
        <result property="maintenanceCycle"    column="maintenance_cycle"    />
        <result property="lastMaintenanceDate"    column="last_maintenance_date"    />
        <result property="nextMaintenanceDate"    column="next_maintenance_date"    />
        <result property="managerId"    column="manager_id"    />
        <result property="teamId"    column="team_id"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSpaceEquipmentVo">
        select equipment_id, equipment_code, equipment_name, equipment_type, area_id, model, specification, manufacturer, install_date, status, maintenance_cycle, last_maintenance_date, next_maintenance_date, manager_id, team_id, description, del_flag, create_by, create_time, update_by, update_time, remark from space_equipment
    </sql>

    <select id="selectSpaceEquipmentList" parameterType="SpaceEquipment" resultMap="SpaceEquipmentResult">
        <include refid="selectSpaceEquipmentVo"/>
        <where>  
            <if test="equipmentCode != null  and equipmentCode != ''"> and equipment_code = #{equipmentCode}</if>
            <if test="equipmentName != null  and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="equipmentType != null  and equipmentType != ''"> and equipment_type = #{equipmentType}</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="specification != null  and specification != ''"> and specification = #{specification}</if>
            <if test="manufacturer != null  and manufacturer != ''"> and manufacturer = #{manufacturer}</if>
            <if test="installDate != null "> and install_date = #{installDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="maintenanceCycle != null "> and maintenance_cycle = #{maintenanceCycle}</if>
            <if test="lastMaintenanceDate != null "> and last_maintenance_date = #{lastMaintenanceDate}</if>
            <if test="nextMaintenanceDate != null "> and next_maintenance_date = #{nextMaintenanceDate}</if>
            <if test="managerId != null "> and manager_id = #{managerId}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectSpaceEquipmentByEquipmentId" parameterType="Long" resultMap="SpaceEquipmentResult">
        <include refid="selectSpaceEquipmentVo"/>
        where equipment_id = #{equipmentId}
    </select>

    <insert id="insertSpaceEquipment" parameterType="SpaceEquipment" useGeneratedKeys="true" keyProperty="equipmentId">
        insert into space_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentCode != null and equipmentCode != ''">equipment_code,</if>
            <if test="equipmentName != null and equipmentName != ''">equipment_name,</if>
            <if test="equipmentType != null">equipment_type,</if>
            <if test="areaId != null">area_id,</if>
            <if test="model != null">model,</if>
            <if test="specification != null">specification,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="installDate != null">install_date,</if>
            <if test="status != null">status,</if>
            <if test="maintenanceCycle != null">maintenance_cycle,</if>
            <if test="lastMaintenanceDate != null">last_maintenance_date,</if>
            <if test="nextMaintenanceDate != null">next_maintenance_date,</if>
            <if test="managerId != null">manager_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentCode != null and equipmentCode != ''">#{equipmentCode},</if>
            <if test="equipmentName != null and equipmentName != ''">#{equipmentName},</if>
            <if test="equipmentType != null">#{equipmentType},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="model != null">#{model},</if>
            <if test="specification != null">#{specification},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="installDate != null">#{installDate},</if>
            <if test="status != null">#{status},</if>
            <if test="maintenanceCycle != null">#{maintenanceCycle},</if>
            <if test="lastMaintenanceDate != null">#{lastMaintenanceDate},</if>
            <if test="nextMaintenanceDate != null">#{nextMaintenanceDate},</if>
            <if test="managerId != null">#{managerId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSpaceEquipment" parameterType="SpaceEquipment">
        update space_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentCode != null and equipmentCode != ''">equipment_code = #{equipmentCode},</if>
            <if test="equipmentName != null and equipmentName != ''">equipment_name = #{equipmentName},</if>
            <if test="equipmentType != null">equipment_type = #{equipmentType},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="model != null">model = #{model},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="installDate != null">install_date = #{installDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="maintenanceCycle != null">maintenance_cycle = #{maintenanceCycle},</if>
            <if test="lastMaintenanceDate != null">last_maintenance_date = #{lastMaintenanceDate},</if>
            <if test="nextMaintenanceDate != null">next_maintenance_date = #{nextMaintenanceDate},</if>
            <if test="managerId != null">manager_id = #{managerId},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where equipment_id = #{equipmentId}
    </update>

    <delete id="deleteSpaceEquipmentByEquipmentId" parameterType="Long">
        delete from space_equipment where equipment_id = #{equipmentId}
    </delete>

    <delete id="deleteSpaceEquipmentByEquipmentIds" parameterType="String">
        delete from space_equipment where equipment_id in 
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </delete>
</mapper>